body {
  font-family: Monospace;
  background-color: #000;
  margin: 0px;
  overflow: hidden;
}

canvas {
  width: 1280px;
  height: 960px;
  margin: 0px;
/*  display: none;
*/}

/*#gifulator {
  display: block;
}
*/
ul {
  margin: 0;
  margin-top:15px;
  margin-right: 20px;
}

li {
  margin-top:5px;
  margin-left:5px;
  list-style-type: none;
}

p {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

a {
  margin-top:1px;
  margin-left:12px;
  text-decoration: none;
  color: #357d9b;
  outline: 0;
  float:right;
  font-size:
}

label {
  color: white;
}

input[type="email"] {
  background-color: hsla(0, 0%, 75%, .7);
  margin-top:20px;
}

.email {
  width:124px;
  margin-bottom: 15px;
}

a:hover {
  text-decoration: underline;
  color: #3696be;
}


.button {
 width:130px;
 margin-bottom: 20px;
 color: hsla(0, 50%, 97%, .7);
 background-color: hsla(0,50%,5%,.2);
 border-color: white;
 border-color: hsla(0,50%,95%,.4);
 border-style: solid;
 border-width: 1px;
 font-family: 'Droid Sans';
}

.button:hover {
  cursor: pointer;
  background-color: hsla(0,50%,50%,.2);
}

.sliders {
  margin-top:15px;
  margin-bottom:15px;
  padding-bottom:10px;
}

.controls {
  z-index: 999;
  position: relative;
  display: inline-block;
  width: 144px;
  background-color: hsla(0, 0%, 100%, 0.2);
  padding-left: 10px;
  margin-left:5px;
  margin-top:15px;
}

.color_slider {
  margin-top: 8px;
  float: left;
}

.color_label {
  float: right;
  margin-right: 20px;
  font-family: 'Droid Sans';
  font-size: 12px;
}

.text-container {
  position: absolute;
  left: 20px;
  color: rgba(255,255,255,0.65);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-top:50px;
  z-index: 1;
}

.main-container {
  border-width: 2px;
  border-style: solid;
  background-color: rgba(0,0,0,0.7);
}

.main-title {
  margin-left: 15px;
  margin-bottom: 27px;
  float:left;
}

.contact-container {
  margin-left: 0px;
  float: right;
}

.webcam-message {
  color: rgba(255,255,255,0.7);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 14px;
  z-index: 1;
}

.webcam-text {
  margin-left: 15px;
  float:right;
}

.magic-mirror {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mirror {
  margin: 0px;
}

.output {
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
}

.hidden {
  display: none;
}