body {
  font-family: Monospace;
  background-color: #000;
  margin: 0px;
  overflow: hidden;
}

canvas {
  width: 1280px;
  height: 960px;
  margin: 0px;
}

ul {
  margin: 0;
  margin-top:15px;
  margin-right: 20px;
}

li {
  margin-top:5px;
  margin-left:5px;
  list-style-type: none;
}

p {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

a {
  margin-top:1px;
  margin-left:12px;
  text-decoration: none;
  color: #357d9b;
  outline: 0;
  float:right;
  font-size:
}

a:hover {
  text-decoration: underline;
  color: #3696be;
}

.text-container {
  position: absolute;
  left: 20px;
  color: rgba(255,255,255,0.65);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin-top:50px;
  z-index: 1;
}

.main-container {
  border-width: 2px;
  border-style: solid;
  background-color: rgba(0,0,0,0.7);
}

.main-title {
  margin-left: 15px;
  margin-bottom: 27px;
  float:left;
}

.contact-container {
  margin-left: 0px;
  float: right;
}

.webcam-message {
  color: rgba(255,255,255,0.7);
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 14px;
  z-index: 1;
}

.webcam-text {
  margin-left: 15px;
  float:right;
}

.magic-mirror {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mirror {
  margin: 0px;
}

.output {
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(180deg);
}

.hidden {
  display: none;
}